html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Despliega el dropdown al pasar el mouse*/
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Cambiar el fondo del navbar 'bg-dark' a gris oscuro suave */
.navbar.bg-dark {
    background-color: #343a40 !important; /* Gris oscuro típico de Bootstrap */
}

/* Cambiar color de links del navbar para que no sean blancos */
.navbar-dark .navbar-nav .nav-link {
    color: #a9cce3; /* Azul clarito */
}

    /* Color de links al pasar el mouse */
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #e0e0e0; /* Gris claro */
    }

.btn:focus, .btn:active:focus {
    outline: none;
    box-shadow: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}
